extends layout

block content
  
  header 
    a(href='javascript:history.back();' class='back_button') < #{title}

  input(
    type='text'
    name='list'
    value=`${title}`
    size='50'
    class='list_title'
  )
  
  section#top
  .content.top

  include ./include/_inc_task_table.pug
  