extends layout

block content

  div(class='container')
    div(class='header')
      small(
        class='setteings'
      ) ◇
      a(href='/logout') 
        small(
          class='setteings'
        ) •••

    div(class='leftnavi')
      include ./include/_inc_space_table.pug

    div(class='main')
      h1=title
      input(
        type='button'
        value='Create New List'
        onClick='createNewList()'
        class='square_btn'
      )

      section#top
      .content.top

      include ./include/_inc_list_table.pug

      div(id='mask' class='hidden')

      div(id='modal' class='hidden')
        input(
          type='text'
          id='space_text'
          class='space_text'
          value=''
          placeholder='New workspace name'
          onKeyDown='createNewSpace(this)'
        )
        p(id='close') ×
