extends layout

block content

  div(class='container')
    div(class='header')
      small(
        class='setteings'
      ) ◇
      a(href='/logout') 
        small(
          class='setteings'
        ) •••

    div(class='leftnavi')
      include ./include/_inc_space_table.pug

    div(class='main')
      h1=title
      input(
        type='button'
        value='Create New List'
        onClick='createNewList()'
        class='square_btn'
      )


      include ./include/_inc_list_table.pug

      include ./include/_inc_modal_text.pug
