form(name='taskForm')
  table(id='taskTable')
      thead
        tr
          th(class='width-30px')
          th Task Name
      tbody
        - var i = 0
        //-  チェックボックスがチェックされている場合、テキストボックスにcompletedクラスを追加する
        if tasks.length > 0
          each task in tasks
            - i++
            tr(id=`tr${i}`)
              td(class='width-30px')
                label
                  input(
                    type='checkbox'
                    name='check'
                    id=`check${task.id}`
                    onChange=`postByFetch('/tasks/update/', ${task.id}, null, null, this.checked, ${i})`
                    checked=task.completed
                  )
              td
                label
                  input(
                    type='text'
                    name='task'
                    id=`text${i}`
                    value=task.title
                    size='50'
                    onkeydown=`nextForm(document.forms.taskForm,${task.id},${task.list_id},this)`
                    class='radius'
                  )
                small(
                  class='setteings'
                  onClick=`postByFetch('/tasks/delete/',${task.id},null,null,null,${i})`
                ) •••
        else
          tr(id=`tr${i}`)
            td(class='width-30px')
              label
                input(
                  type='checkbox'
                  name='check'
                  id='check1'
                  onChange='postByFetch("/tasks/update/", "", null, null, this.checked, 1)'
                  checked=this.checked
                )
            td
              label
                input(
                  type='text'
                  name='task'
                  id='text1'
                  size='50'
                  onkeydown=`nextForm(document.forms.taskForm,${this.value},"",this)`
                  class='radius'
                )
              small(
                class='setteings'
                onClick=`postByFetch('/tasks/delete/',"",null,null,null,${i})`
              ) •••