form(name='taskForm')
  table(id='taskTable')
      thead
        tr
          th(class='width-30px')
          th Task Name
      tbody
        - var i = 0
        //-  チェックボックスがチェックされている場合、テキストボックスにcompletedクラスを追加する
        if tasks.length > 0
          each task in tasks
            - i++
            tr(id=`tr${i}`)
              td(class='width-30px')
                label
                  input(
                    type='checkbox'
                    name='check'
                    id=`check${task.id}`
                    onChange=`taskStatusUpdate(${task.id},this)`
                    checked=task.completed
                  )
              td
                label
                  input(
                    type='text'
                    name='task'
                    id=`text${i}`
                    value=task.title
                    size='50'
                    onkeydown=`nextTextBox(this)`
                    class='radius'
                  )
                small(
                  class='setteings'
                  onClick=`taskDelete(${task.id},this)`
                ) •••
        else
          - i++
          tr(id=`tr${i}`)
            td(class='width-30px')
              label
                input(
                  type='checkbox'
                  name='check'
                  id='check1'
                  onChange='taskStatusUpdate("",this)'
                  checked=this.checked
                )
            td
              label
                input(
                  type='text'
                  name='task'
                  id='text1'
                  size='50'
                  onkeydown=`nextTextBox(this)`
                  class='radius'
                )
              small(
                class='setteings'
                onClick=`taskDelete(null,this)`
              ) •••