div(id='mask' class='hidden')

div(id='modal' class='hidden')
  input(
    type='text'
    id='space_text'
    class='space_text'
    value=''
    placeholder='New workspace name'
    onKeyDown='createNewSpace(this)'
  )
  p(id='close') ×