if lists.length > 0
  table(id='listTable')
      thead
        tr 
          th List Name
      tbody  
        - var i = 0
        each list in lists
          - i++
          tr(id=`row${i}`)
            td
              a(href=`/lists/${list.id}`) #{list.title}
              small(
                class='setteings'
                onClick=`listDelete(${list.id},this)`
              ) •••
else
   p(class='empty_list') Create a new list to get started.
        